@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.overflow {
  overflow-x: hidden;
}

.fredoka{
  font-family: 'Fredoka', sans-serif;
}

.madurai {
  font-family: 'Hind Madurai', sans-serif;
}

.robot {
  font-family: 'Roboto', sans-serif;
}